<div class="mf-gallery">

    <div class="album" ng-if="!ui.ifsMode">
        <h1>{{ui.album.meta.name}}
            <small ng-bind-html="ui.album.meta.description"></small>
        </h1>


        <ol class="breadcrumb">
            <li ng-repeat="item in ui.breadcrumb">
                <a href="{{item.href}}">{{item.name}}</a>
            </li>
            <li class="active">{{ui.album.meta.name || '???' }}</li>
        </ol>
    </div>

    <div class="sub-albums" ng-if="!ui.ifsMode">
        <ul class="list-inline">
            <li ng-repeat="sub in ui.album.subDirs" class="thumbnail">
                <a ng-href="{{makePath(sub)}}">
                    <img ng-if="sub.cover" ng-src="{{makeThumbUrl(sub.cover, 'small', sub.folder)}}"/>

                    <div class="no-cover" ng-if="!sub.cover">?</div>
                    <div class="caption">
                        {{sub.name || sub.folder}}
                    </div>
                </a>
            </li>
        </ul>
    </div>


    <div class="images">
        <div class="no-images" ng-if="!ui.album.images.length">
            Keine Fotos hier :(
        </div>
        <ul class="list-inline" ng-show="ui.album.images.length" container-width="widthChanged">
            <li ng-repeat="image in ui.album.images">
                <a ng-href="#/a/{{ui.relPath}}?i={{image.name}}">
                    <div gallery-item="image" listen-on="widthChanged" url="{{makeThumbUrl(image.name, 'small')}}"></div>
                </a>
            </li>
        </ul>
    </div>


    <div lightbox="lightbox.image" folder-path="lightbox.folderPath"
         show="lightbox.show" prev="prevImg()" next="nextImg()"></div>


</div>


<div ng-include="'views/footer.tpl.html'"></div>
