<div class="mf-gallery mf-gallery-ifs">

    <div class="header-line">
        <a ng-href="#/a/" class="btn btn-default show-all-button">Alle anzeigen</a>

        <span class="item-pos pull-right">{{ui.currentIndex + 1}}/{{ui.size}}</span>
    </div>

    <div lightbox="lightbox.image" folder-path="lightbox.folderPath"
         show="lightbox.show" ds="ds" embedded="true"></div>
    <!--size-update="lightbox.boxSize"-->

    <!--<div class="caption row" ng-style="{width: lightbox.boxSize.width}">-->
        <!--<div class="time col-xs-6">{{ui.currentImage.exif.time | date:'medium' }}</div>-->
        <!--<div class="name col-xs-6">{{ui.currentImage.name}}</div>-->
    <!--</div>-->
</div>

<div ng-include="'views/footer.tpl.html'"></div>