<div class="lightbox" ng-show="show" ng-class="{ 'embedded': embedded, 'lbmodal': !embedded }">
    <div class="modal-backdrop fade" ng-class="{ 'in': show }" ng-if="!embedded"></div>
    <div tabindex="-1" class="fade" ng-class="{ 'in': show, 'modal': !embedded }" ng-click="close($event)" onmousedown='return false;'>
        <div ng-style="dialogSize" class="dialog" style="margin: auto">
            <div ng-class="{ 'modal-content': !embedded }" onmousedown='return false;'>
                <div class="image" ng-style="imgStyle"></div>
            </div>
            <div class="controls" ng-style="imgSize" ng-show="imageLoaded" onmousedown='return false;'>
                <div ng-if="!embedded" ng-click="close($event)" class="close" title="Close">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <div class="nav previous" ng-click="prevImage($event)" title="Previous image [ <-- ]" ng-if="ds.hasPrev()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </div>
                <div class="nav next" ng-click="nextImage($event)" title="Next image [ --> ]" ng-if="ds.hasNext()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
                <div class="info" ng-class="{'open': showMeta }" ng-click="toggleMeta($event)" title="show/hide more meta info">
                    <span class="glyphicon glyphicon-info-sign"></span>

                    <span class="text">{{image.filename}} // {{image.exif.time | date:'dd.MM.yyyy hh:mm:ss'}}</span>
                    <a ng-href="{{originalUrl}}" title="Show original" class="show-original" ng-click="$event.stopPropagation()">
                        <span class="glyphicon glyphicon-download-alt"></span>
                        <span>Download</span>
                    </a>

                    <div ng-if="showMeta">
                        <span ng-repeat="field in visibleExifMeta">
                            {{field}}: {{image.exif[field]}} <span ng-if="!$last" class="spacer"> ~ </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>